.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  width: 100%;
  max-width: 25rem;
  margin: auto;
}

button {
  align-self: center;
  margin-top: 1rem;
  width: 70%;
}
