<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" required [(ngModel)]="email" name="email" #emailModel="ngModel">
    <mat-error *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
      <span *ngIf="emailModel.errors?.['required']">Email is required.</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" required [(ngModel)]="password" name="password" #passwordModel="ngModel">
    <mat-error *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
      <span *ngIf="passwordModel.errors?.['required']">Password is required.</span>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>

  <p class="register-link">
    Don't have an account? <a [routerLink]="[PATHS.REGISTER]">Register here</a>.
  </p>
</form>
